[Unit]
Description=uwsgi daemon
After=network.target

[Service]
User=mas
Group=www-data
RuntimeDirectory=uwsgi
WorkingDirectory=/home/mas/django_sites/deploy_with_github
ExecStart=/home/mas/django_sites/env/bin/uwsgi --ini /home/mas/django_sites/deploy_with_github/configs/uwsgi.ini

[Install]
WantedBy=multi-user.target
